.u-center-text {
    text-align: center;
}

.u-margin-top {
    margin-top: 10rem;
}

.u-margin-bottom {
    margin-bottom: 10rem;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-border-bottom {
    border-bottom: 1px solid $color-gray-light;
}

.u-left-text {
    text-align: left;
}

.u-margin {
    padding: 0 5rem;
}

.half {
    float: left;
    width: 50%;
}